
:root {
	--namelovebg: rgb(255, 245, 230);
	--namelovegray: #5e5d5d;
	--namelovenavy: rgba(61, 57, 107, 1);
	--namelovered: rgb(255, 114, 128);
	--nameloveblack: #414141;
	--namelovewhitebg: rgb(255, 252, 247);
	--nameloveblackbg: rgb(229, 221, 210);
	--namelovegreen: rgb(48, 214, 181);
	--nameloveshadowred: rgba(255, 112, 129, 0.4);
	--nameloveshadowgreen: rgba(29, 212, 176, 0.4);
	--nameloveblue: rgb(76, 202, 227);
	--wionightorange: rgb(253, 242, 212);
	--wionightwhite: rgb(232, 234, 236);
	--wioshadownightwhite: rgb(215, 217, 219);
	--wionight: rgb(59, 56, 83);
	--wiosky: rgb(83,135,195);
    --white: #FFFFFF;
	--wioLight: rgb(204,11,183);
    /**--greyLight-0: #f7fbff;**/
    --greywhite: rgb(250, 250, 250);
    --greyLight-0: rgb(245, 247, 250);
    --greyLight-1: rgb(235, 240, 245);
    --greyLight-2: rgb(218, 228, 237);
    --greyLight-3: rgb(189, 199, 211);
    --greyLight-4: rgb(164, 178, 197);
    --greyLight-5: rgb(132, 143, 158);
    --greyDark-1: rgb(42, 47, 48);
    --greyDark: rgb(55, 68, 71);
    --greyDark-0: rgb(82, 82, 82);

	--blueGradient: linear-gradient(to right, rgb(123, 224, 255),rgb(5, 185, 245),rgb(8, 62, 250));
	--blueLight-0: rgb(0, 204, 255);
    --blueLight-1: rgb(7, 111, 222);

	--purpleGradient: linear-gradient(to right, rgb(219, 128, 255),rgb(179, 69, 238),rgb(111, 3, 199));
	--purpleLight-0: rgb(187, 71, 255);
	--purpleLight-1: rgb(149, 19, 255);
	
	--greenGradient: linear-gradient(to right, rgb(101, 224, 202),rgb(0, 245, 61),rgb(10, 194, 0));
	--greenLight-0: rgb(90, 221, 160);
	--greenLight-1: rgb(21, 209, 121);

	--yellowGradient: linear-gradient(to right, rgb(249, 237, 2),rgb(242, 184, 10),rgb(249, 134, 2));
	--yellowLight-0: rgb(255, 204, 52);
	--yellowLight-1: rgb(255, 188, 37);

	--redGradient: linear-gradient(to right, rgb(255, 77, 77),rgb(243, 65, 65),rgb(243, 54, 54));
	--redLight-0: rgb(255, 77, 77);
	--redLight-1: rgb(243, 54, 54);
	
	--treeGradient: linear-gradient(to right, rgb(146, 255, 119),rgb(115, 216, 89),rgb(88, 196, 61));
	--treeLight-0: rgb(146, 255, 119);
	--treeLight-1: rgb(72, 163, 50);

	--persGradient: linear-gradient(to right, rgb(229, 43, 128),rgb(155, 44, 140),rgb(105, 46, 164));
	--persDark:rgb(105, 46, 164);
	--persLight:rgb(194, 48, 131);

	--persloveGradient: linear-gradient(120deg, rgb(255, 188, 199),rgb(255, 211, 219) 40%,rgb(104, 222, 255));
	--persloveDark:rgb(168, 220, 235);
	--persloveLight:rgb(255, 188, 199);
	
	--persbingoGradient: linear-gradient(120deg, rgb(30,148,161) 15%,rgb(14, 131, 177) 25%,rgb(250,190,192) 65%, rgb(220,37,69) 100%);
	--persbingoDark:rgb(30,148,161);
	--persbingoLight:rgb(14, 131, 177);

	--persLink:rgb(27, 158, 235);
}