.inner_short_shadow {
    box-shadow: inset 3px 3px 4px var(--greyLight-2),
        inset -2px -2px 4px var(--white);
}

.inner_long_shadow {
    box-shadow: inset 8px 8px 10px var(--greyLight-2),
        inset -4px -4px 8px var(--white);
}

.outer_short_shadow {
    box-shadow: 3px 3px 4px var(--greyLight-2),
        -2px -2px 4px white,
        1px 2px white;
}

.outer_long_shadow {
    box-shadow: 5px 5px 7px 2px var(--greyLight-2),
        -6px -6px 9px 3px white;
}

.outer_long_shadow_perscolor {
    box-shadow: 5px 5px 7px 2px var(--persDark),
        -6px -6px 9px 3px white;
}