
header {
	position: fixed;
	top: 0;
	width: 100%;
	height:50px;
	max-width: 550px;
	font-size: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 90;
}
.backheader {
	display: flex;
	justify-content: space-between;
	background-color: rgba(151, 29, 29, 0);
}

#header {
	transition: all 0.2s ease 0s;
}
.right_header {
	display: flex;
}

.home_link {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.margin_header {
	height: 50px;
}

.adfit_margin {
    height: 50px;
}
.main_header {
    background: var(--greyLight-0);
	height:60px;
	line-height: 60px;
}

header .home_button, header .back_button {
	font-family: 'hotel';
	font-size: 1.3em;
	color: var(--greyLight-5);
	cursor: pointer;
}

header .main_home_button {
	font-family: 'hotel';
	font-size: 1.5em;
	cursor: pointer;
	height: 30px;
}

header .home, header .back, header .menu {
	margin: 0 4%;
}
header .back {
	margin-left: 1em;
	width: 2.2em;
	height: 2.2em;
	display: flex;
    justify-content: center;
    align-items: center;
	
	border-style:solid;
	border-width: 2px;
	border-top-color:white;
    border-left-color:white;
    border-right-color:var(--greyLight-2);
    border-bottom-color:var(--greyLight-2);

	background: var(--greyLight-0);
    border-radius: 10px;
	
}
/**box-shadow: inset 3px 3px 4px var(--greyLight-2),
        inset -2px -2px 4px var(--white);**/

.back_button {
	font-family: 'hotel';
	font-size: 1.3em;
	color: black;
}
header .back_img{
	height: 1.7em;
	padding-right: 3%;
	cursor: pointer;
	
	display: flex;
    justify-content: center;
    align-items: center;
}
header .menu {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
header .menu_button {
	height: 32px;
}

@media (min-width: 550px){
	header {
		height: 60px;
		line-height: 60px;
		font-size: 20px;
	}
	.margin_header {
		height: 60px;
	}
	.main_header {
		height: 60px;
		line-height: 60px;
	}
	header .menu_button {
		height: 47px;
	}
}

